<div  *ngIf="showData == true">
<mat-card><h1>Hii and Welcome</h1></mat-card>
<form>
<input type="text" class="inputlocat" name="cityname" placeholder="Enter the Location to Check" [(ngModel)]="cityname">
<button class="btn btn-primary" (click)="getWeatherData()" (click)="showDataPage()">Click me</button>
</form>
</div>
<div id="divWeatherMain" *ngIf="showData == false"> 
    <div *ngIf="WeatherData.isDay" class="weatherWidgetRow">
        <i class="fas fa-3x fa-sun sun"></i>  
    </div>   
    <div *ngIf="!WeatherData.isDay" class="weatherWidgetRow">
        <i class="fas fa-3x fa-moon moon"></i>  
    </div>   
    <div class="weatherWidgetRow cloudDiv">
        <i class="fas fa-cloud fa-3x cloud"></i>
    </div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">{{WeatherData.temp_celcius}}°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">{{WeatherData.temp_min}}° / {{WeatherData.temp_max}}°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Temperature: {{WeatherData.temp_feels_like}}°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">{{WeatherData.name}}</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{WeatherData.main.humidity}}%</div>
</div>
<button class="hidebut btn btn-secondary" *ngIf="showData == false" (click)="hideDataPage()">Fetch Different Weather Location</button>