<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please enter mail & password</h6>
                </div>
                <form>
                <div class="mb-3">
                    <label>Email address</label>
                    <input type="text" class="form-control" name="email" [(ngModel)]="email">
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" class="form-control" name="pass" [(ngModel)]="inputpass">
                </div>
                <button type="submit" (click)="login()" class="btn btn-primary" [ngStyle]="email =='' ?{'background-color':'red'}:{'background-color':''}">submit</button>
                </form>
                <h3>Password is : {{Password}}</h3>
            </div>
        </div>
    </div>
</div>